<html>
	<head></head>
	<body>
		<p>
			enter some text
			<form>
				<input type="text" name="string" value="sup" />
				<input type="number" name="offset" min="0" max="10" value="0" />
				<input type="submit" />
			</form>
		</p>
		<p>
			your translation:
		</br>
		<%= Caesar.new.caesar_cipher(@string,@offset.to_i) unless @string.nil? %>
		</p>
	</body>
</html>